
.jumbotron-extend {
    position: relative;
    height: 100vh;
    max-height: 400px;
    width: 80vw;
    margin-left: 10vw;
    background: url(./img/main.png) center no-repeat;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    text-align: right;
}


.post-item h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 36px;
}

.contents {
    width: 80vw;
    max-width: 1000px;
    margin: 10px auto;
}
.content-primary,
.content-secondary {
    padding-left: 0;
    padding-right: 0;
}
.content-primary {
    float: left;
    width: 48%;
}
.content-secondary {
    float: right;
    width: 48%;
}


.introduce {
    padding-left: 30px;
}

.joinin {
    padding-bottom: 10px;
}
